<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.oviva.ehealthid.relyingparty.logging.JsonEncoder"/>
    </appender>
    <root level="${EHEALTHID_RP_LOG_LEVEL:-INFO}">
        <appender-ref ref="json"/>
    </root>
</configuration>