{{<layout.html.mustache}}
  {{$body}}
    <h1>Log in with GesundheitsID</h1>
    <p>
      {{#message}}{{message}}{{/message}}
      {{^message}}
        Oops, something unexpected happened. Please go back and try again.
      {{/message}}
    </p>
  {{/body}}
{{/layout.html.mustache}}
