{{<layout.html.mustache}}
{{$body}}
<div class="container">
  <div class="heading">
    <h1 class="title">{{#trans}}jumpToApp.title{{/trans}}</h1>
    <p class="text">{{#trans}}jumpToApp.description{{/trans}}</p>
  </div>
  
  <div class="actions">
    <a href="{{destination}}" class="primary-button">
      {{#trans}}continue{{/trans}}
    </a>
  </div>
</div>
{{/body}}
{{/layout.html.mustache}}
