<!DOCTYPE html>
<html lang="{{#trans}}lang{{/trans}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#trans}}title{{/trans}}</title>
  <style>
      {{> common.css.mustache }}
  </style>
{{$head}}{{/head}}
</head>
<body>
<div class="container">
  {{$body}}{{/body}}
</div>
</body>
</html>
