{{<layout.html.mustache}}
{{$head}}
<style>
  {{> styles/select-idp.css.mustache }}
</style>
<script>
  {{> js/select-idp.js.mustache }}
</script>
{{/head}}
{{$body}}
<form action="/auth/select-idp" method="post" class="container">
  <div class="container">
    <div class="heading">
      <h1 class="title">{{#trans}}idp.title{{/trans}}</h1>
      <p class="text">{{#trans}}idp.description{{/trans}}</p>
    </div>
    
    <div id="idp-select" class="combobox">
        <input type="hidden" name="identityProvider" value="">
        
        <div class="combobox-trigger" tabindex="0">
            <span class="combobox-text"></span>
            <input type="text" class="combobox-search-input" placeholder="{{#trans}}idp.searchPlaceholder{{/trans}}" autocomplete="off" style="display: none;">
            {{> assets/chevron-down-icon.svg }}
        </div>
        
        <div class="combobox-dropdown">
          <div class="combobox-empty-state" style="display: none;">
            <span>{{#trans}}idp.noResults{{/trans}}</span>
          </div>
          
          {{#identityProviders}}
          <div class="combobox-option" data-value="{{iss}}" data-name="{{name}}" tabindex="0">
            <span>{{name}}</span>
            {{> assets/check-icon.svg }}
          </div>
          {{/identityProviders}}
        </div>
    </div>
  </div>

  <div class="actions">
    <input type="submit" value="{{#trans}}idp.login{{/trans}}" class="primary-button">
    {{#appUri}}
    <div class="divider"></div>
    <a class="link" href="{{appUri}}">{{#trans}}backToApp{{/trans}}</a>
    {{/appUri}}
  </div>
</form>
{{/body}}
{{/layout.html.mustache}}
