{{<layout.html.mustache}}
  {{$head}}
    <style>
      .form-inline {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .form-inline .provider-wrapper {
        margin: auto 0;
      }

      .form-inline label {
        margin: 0 10px 4px 0;

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
        letter-spacing: 0.15px;
      }

      .form-inline select, .form-inline input {
        width: 100%;
        height: 40px;

        padding: 0 16px;
        margin: 10px 0;

        border-radius: 8px;
        border: 1px solid #00A88F;
        background: #FFF;

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
        letter-spacing: 0.15px;
      }

      .form-inline select {
        outline: none;
        font-weight: 400;
      }

      .form-inline input[type=submit] {
        padding: 10px 20px;
        cursor: pointer;
        background: #00A88F;
        color: white;

        border-radius: 24px;
      }

      .form-inline input[type=submit]:hover, .form-inline input[type=submit]:active {
        background-color: rgba(0, 168, 143, 0.92);
      }
    </style>
  {{/head}}
  {{$body}}
    <form action="/auth/select-idp" method="post" class="form-inline">
      <div class="provider-wrapper">
        <h1>GesundheitsID</h1>
        <label for="idp-selection">{{#trans}}idp.selection{{/trans}}</label>
        <select name="identityProvider" id="idp-selection">
          {{#identityProviders}}
            <option value="{{iss}}">{{name}}</option>
          {{/identityProviders}}
        </select>
      </div>
      <input type="submit" value="{{#trans}}idp.login{{/trans}}">
    </form>
  {{/body}}
{{/layout.html.mustache}}
